<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Form,flex, ,Twitter form ,sachindusahan,html,css"
    />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta property="og:title" content="Twitter Login Form" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h3 style="text-align: center"><%=msg%></h3>
    <form action="/changepassword_submit" method="post" class="container">
      <div class="div-1">
        <div class="sub-div-1">
          <i class="fa fa-twitter icon"></i>
        </div>
      </div>
      <div class="div-2">
        <div class="sub-div-2">
          <h3>Change Password</h3>
        </div>
      </div>
      <div class="div-3">
        <div class="sub-div-3">
          <label>Email</label><br />
          <input type="text" name="email" value="<%=email%>" />
        </div>
      </div>
      <div class="div-4">
        <div class="sub-div-4">
          <label>New Password</label><br />
          <input type="password" name="pass" />
        </div>
      </div>
      <div class="div-4">
        <div class="sub-div-4">
          <label>Confirm New Password</label><br />
          <input type="password" name="cpass" />
        </div>
      </div>
      <div class="div-5">
        <div class="sub-div-5">
          <input type="submit" name="Submit" />
        </div>
      </div>
    </form>
  </body>
</html>
